# local environment stuff
/netpoldo-????/custom.conf
/netpoldo-????/custom.*.conf
# TEMP
/netpoldo-????-??/custom.conf

# build intermediates
/netpoldo-????/chroot
/netpoldo-????/output
/netpoldo-????/uictpl.md5
/boottemp
/isotemp
# TEMP
/netpoldo-????-??/chroot
/netpoldo-????-??/output
/netpoldo-????-??/uictpl.md5

# build deliverables
/netpoldo-*.iso
/netpoldo-*.tar.gz
/netpoldo-????_*.md5
/netpoldo-????_*.tar.bz2
# TEMP
/netpoldo-????-??_*.md5
/netpoldo-????-??_*.tar.bz2
